<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.dao.IAdminDAO">
	<select id="findAll" resultType="com.book.model.Admin">
	select * from admin
	</select>
	
	<select id="findById" resultType="com.book.model.Admin">
	select * from admin where admin_id = #{a}
	</select>
   
    <insert id="add">INSERT INTO `bookmall`.`admin`
    (`admin_id`,`admin_name`, `admin_password`, `phone`, `nickname`, `state`) 
    VALUES (null,#{admin_name}, #{admin_password}, #{phone}, #{nickname}, #{state})</insert>
	
	<delete id="del">delete from admin where  admin_id = #{a}</delete>
	
	<update id="edit">UPDATE `bookmall`.`admin` SET `
	admin_name` = #{admin_name}, `admin_password` = #{admin_password},
	 `phone` = #{phone}, `nickname` = #{nickname}, 
	 `state` = #{state} WHERE `admin_id` = #{admin_id}</update> 
</mapper>
